<h1>Restaurants#new</h1>
<p>Find me in app/views/restaurants/new.html.erb</p>
<hr>
<div class="m-5 p-5 text-center">
  <h1>New Restaurant</h1>
  <%= render 'form', restaurant: @restaurant %>
  <p><%= link_to 'Home page', restaurants_path%></p>
</div>